body {
  background-color: aliceblue;
}

.form-signin {
  max-width: 300px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 8px;
}
.form-signin .checkbox {
  font-size: small;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  font-size: 12px;
  left: 0px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

left
{
    size: a5;
position: relative;
top: 130px;
}

.btn-sign
{
    margin: 0px;
}